@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
/* CSS Document */

body{background-color: rgba(50,50,50,1.00)}

.firstSection{
	height: 17%;
	width: 100%;
	display: flex;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: red;
	justify-content: center;
	
}
.firstSection img{
	align-self: center;
	width: 10%;
	height: 120%;
	-webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,.5));
  	filter: drop-shadow(2px 2px 2px rgba(0,0,0,.4));
}

.firstSection h1{
	align-self: center;
	color: white;
	font-family: 'Alata', sans-serif;
	text-shadow: 2px 2px 1px rgba(0,0,0,.2);
	font-size: 35px;
}

.firstSectionBackgroundAnimation {
    background: linear-gradient(237deg, #55fba5, #ff54ed);
    background-size: 400% 400%;

    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@-moz-keyframes Gradient {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@keyframes Gradient {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}

.secondSection{
	height: 70%;
	width: 100%;
	position: absolute;
	top: 17%;
	left: 0;
	background-color: darkcyan;
	display: flex;
	justify-content: center;
}

.productType{
	position: relative;
	height: 65%;
	width: 30%;
	background-color: white;
	border-radius: 30px;
	margin-left: 1%;
	margin-right: 1%;
/*	margin-top: 10%;*/
	align-self: center;
	transition: all .4s ease;
	overflow: hidden;
}

.productType:hover{
	width: 32%;
	justify-content: center;
}

.typeImage{
	position: relative;
	margin-top: -22%;
	width: 100%;
	object-fit: cover;
	transition: all .4s ease;
	transform: scale(1);
}

#type3{
	margin-top: -40%;
}

.typeImage:hover{
	transform: scale(1.2);
}

.typeTextDiv{
	width: 100%;
	height: 100%;
	justify-content: center;
  	position: absolute;
  	bottom: 0px;
  	background-color: rgba(0,0,0,0);
	opacity: 0%;
	transition: all .4s ease;
	
}

.typeTextDiv:hover{
	background-color: rgba(0,0,0,.6);
	color: white;
	opacity: 100%;
}

.typeTextDiv h2{
	text-align: center;
	margin-top: 32%;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 35px;
	text-shadow: 2px 2px 1px rgba(0,0,0,.2);
}

.thirdSection{
	height: 13%;
	width: 100%;
	position: absolute;
	display: flex;
	background-color: rgba(50,50,50,0);
	top: 87%;
	left: 0;
	justify-content: center;
}

.thirdSection p, a {
	color: white;
	align-self: center;
	font-family: 'Alata', sans-serif;
	margin-left: 5px;
	font-size: 20px;
}
